/* RESET E BASE */
body {
  font-family: "Nunito Sans", sans-serif;
  color: #000000;
  background-color: #ffffff;
  font-size: 16px;
  line-height: 1.6;
}

/* ====================================
   CORES
==================================== */
.bg-verde {
  background-color: #5ec0be !important;
}
.bg-azul-vibrante {
  background-color: #005cff !important;
}
.bg-azul-marinho {
  background-color: #00264e !important;
}
.bg-cinza-claro {
  background-color: #dedede !important;
}
.bg-banner {
  background-color: #c2c2c2 !important;
}
.bg-footer {
  background-color: #f5f5f5 !important;
}
.bg-roxo {
  background-color: #6220c1 !important;
}

.text-verde {
  color: #5ec0be !important;
}
.text-azul-vibrante {
  color: #005cff !important;
}
.text-azul-marinho {
  color: #00264e !important;
}
.text-dark-grey {
  color: #303030;
}

/* TIPOGRAFIA */
.fs-14 {
  font-size: 14px;
}
.fs-18 {
  font-size: 18px;
}
.fs-25 {
  font-size: 25px;
}
.fs-30 {
  font-size: 30px;
}
.fs-60 {
  font-size: 60px;
}
.fs-100 {
  font-size: 100px;
}
.lh-20 {
  line-height: 20px;
}
.lh-26 {
  line-height: 26px;
}

.letter-spacing-30 {
  letter-spacing: 0.3em;
}

h1,
h2,
h3 {
  font-weight: 600;
  color: #00264e;
  margin-bottom: 0.5rem;
  line-height: 1.2;
}

/* BOTÕES */
.btn-custom {
  background-color: #005cff;
  color: #fff;
  border: none;
  padding: 0.5rem 1.25rem;
  border-radius: 0.375rem;
  transition: background-color 0.3s ease;
}
.btn-custom:hover {
  background-color: #003fcc;
}

/* HEADER RESPONSIVO */
.mobile-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 1rem;
  position: relative;
}
.logo-center {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}
.search-container {
  position: relative;
  flex-grow: 1;
  max-width: 100%;
}

@media (min-width: 992px) {
  .search-container {
    max-width: 700px;
    margin-left: 20px;
    margin-right: 90px;
  }
}

.tag-desconto10 {
  font-style: italic;
}

@media (max-width: 900px) {
  .tag-desconto10 {
    font-style: normal;
  }
}

@media (max-width: 991.98px) {
  .mobile-header + .px-3 {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }
  .search-feedback {
    order: 1;
  }
  .search-container {
    order: 0;
  }
}
.search-with-icon {
  padding-right: 2.5rem;
  min-height: 40px;
  border-radius: 10px;
}
.btn-icon {
  position: absolute;
  top: 50%;
  right: 0.75rem;
  transform: translateY(-50%);
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  z-index: 2;
}
.search-feedback {
  top: 100%;
  position: absolute;
  font-size: 14px;
  color: #000;
  background: #f1f1f1;
  padding: 0.5rem 1rem;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-height: 40px;
  gap: 0.5rem;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s ease;
  z-index: 9999;
}

.search-feedback.show {
  opacity: 1;
  pointer-events: auto;
}

.close-feedback {
  background: none;
  border: none;
  font-size: 20px;
  line-height: 1;
  cursor: pointer;
  color: #555;
}

/* Estilos Gerais */
.mega-menu {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  min-width: 1100px;
  max-width: 1400px;
  width: 100%;
  padding: 0;
  z-index: 1000;
  margin: 0;
}

.categories-dropdown {
  position: relative;
  padding: 0 !important;
  margin: 0;
}

/* Dropdown de Categorias */
.categories-dropdown:hover .categories-menu {
  display: block;
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
  transform: translateY(0);
  transition: opacity 0.3s ease, visibility 0s linear 0s, transform 0.3s ease;
}

.categories-trigger {
  transition: color 0.3s ease;
  padding: 0 !important;
  margin: 0 !important;
  line-height: 1;
}

.categories-text {
  white-space: nowrap;
  font-weight: 700;
  font-size: 14px;
}

.categories-trigger:hover,
.categories-trigger:hover .categories-text,
.categories-trigger:hover .categories-icon {
  color: #005cff;
  font-weight: 700;
  filter: brightness(0) saturate(100%) invert(22%) sepia(99%) saturate(3865%)
    hue-rotate(213deg) brightness(97%) contrast(102%);
}

.categories-icon {
  transition: filter 0.3s ease;
}

.categories-menu {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  min-width: 1100px;
  max-width: 1400px;
  width: 100%;
  padding: 0;
  z-index: 1000;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease, visibility 0.3s ease, transform 0.3s ease;
  transform: translateY(10px);
}

.departments-column {
  position: relative;
  padding-left: 0;
  margin-left: 0;
  flex-basis: 250px;
  flex-shrink: 0;
}

.departments-scroll {
  max-height: 400px;
  overflow-y: auto;
  padding-right: 4px;
  background-color: #f5f5f5;
  border-radius: 5px;
  padding: 1rem;
  box-sizing: border-box;
  width: 250px;
}

.banner-column {
  margin-left: auto;
  padding-right: 1rem;
  width: auto;
  border-radius: 10px;
}

.departments-list {
  padding-left: 0.5rem;
}

.department-item {
  position: relative;
}

.department-link {
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-decoration: none;
  font-size: 14px;
  color: #303030;
  padding: 6px 0;
  transition: all 0.3s ease;
}

.department-link:hover,
.department-link:hover .arrow-icon {
  color: #005cff;
  font-weight: 700;
}

.arrow-icon {
  padding-right: 10px;
  margin-left: 5rem;
  transition: filter 0.3s ease;
}

.department-submenu {
  display: none;
  position: absolute;
  top: 0;
  left: 100%;
  width: 100%;
  background: #fff;
  padding: 1rem;
  z-index: 1;
  opacity: 0;
  transform: translateY(10px);
  transition: all 0.3s ease;
}

.department-item:hover .department-submenu {
  display: block;
  opacity: 1;
  transform: translateY(0);
}

.submenu-title {
  font-size: 16px;
  font-weight: 700;
  margin-bottom: 0.75rem;
}

.submenu-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.submenu-list li a {
  text-decoration: none;
  color: #000;
  font-size: 14px;
  line-height: 100%;
}

.submenu-list li a:hover {
  color: #005cff;
  font-weight: 700;
}

.subcategories-list li a {
  color: #656565;
  font-weight: 400;
  font-size: 14px;
  text-decoration: none;
}

.subcategories-list li a:hover {
  color: #005cff;
  font-weight: 700;
}

.subcategories-column ul li {
  padding-left: 0.5rem;
  padding-right: 1rem;
  margin: 0;
  gap: 1rem;
}

/* Menu de Departamentos */
.departments-menu {
  position: relative;
}

.department-trigger {
  transition: all 0.3s ease;
  padding: 0;
  margin: 0 0.8rem;
  display: inline-block;
  color: #000000;
  font-size: 14px;
}

.department-trigger:hover {
  color: #005cff;
  font-weight: 700;
}

@media (min-width: 980px) and (max-width: 1370px) {
  .department-trigger {
    font-size: 12px;
    padding-right: 0;
  }

  .categories-text {
    font-size: 12px;
  }
}

.shared-department-menu {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  background-color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  z-index: 1000;
}

.departments-menu:hover .shared-department-menu {
  display: block;
}

.menu-departamento-img-banner {
  margin-top: -2rem !important;
  margin-bottom: 0;
  margin-right: 1rem;
}
/* ==========================================================================
BANNER ESTILOS - MOBILE FIRST (< 768px)
========================================================================= */

.bg-cinza-claro-banner {
  background-color: #e7e7ea;
}

.banner-imagem-esquerda,
.banner-texto {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 306px;
  padding: 0;
  border: none;
}

.banner-imagem-esquerda {
  overflow: hidden;
}

.banner-imagem-esquerda img {
  display: block;
  padding: 0;
  margin: 0;
  width: 225px;
  height: 306px;
  object-fit: cover;
  object-position: right center;
  mix-blend-mode: darken;
}

.banner-texto {
  text-align: center;
}

.banner-titulo {
  font-size: 40px;
  line-height: 0.9;
}

.banner-subtitulo {
  font-size: 12px;
  font-weight: normal;
}

.banner-desconto {
  font-size: 32px;
}

.banner-titulo .fw-light {
  display: block;
}

.fw-light {
  font-weight: 300;
}

.letter-spacing-30 {
  letter-spacing: 1.5px;
}

/* RESPONSIVIDADE TELAS ENTRE 448PX E 768PX */

@media (min-width: 448px) and (max-width: 768px) {
  .banner-imagem-esquerda img {
    width: auto;
  }
}

/* ==========================================================================
BANNER RESPONSIVIDADE - TELAS ACIMA 768px
========================================================================= */
@media (min-width: 768px) {
  .banner-imagem-esquerda,
  .banner-texto {
    height: auto;
  }

  .banner-imagem-esquerda {
    overflow: visible;
    padding-left: 200px;
  }

  .banner-texto {
    padding-right: 200px;
  }

  .banner-imagem-esquerda img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    object-position: center;
    mix-blend-mode: darken;
  }

  .banner-titulo {
    font-size: 100px;
    line-height: normal;
  }

  .banner-subtitulo {
    font-size: 25px;
    font-weight: bold;
  }

  .banner-desconto {
    font-size: 60px;
  }

  .banner-titulo .fw-light {
    display: inline;
  }

  .letter-spacing-30 {
    letter-spacing: 3px;
  }

  .row.align-items-center {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .col-md-6 {
    flex: 0 0 50%;
    max-width: 50%;
  }
}

@media (min-width: 768px) and (max-width: 1000px) {
  .banner-titulo {
    font-size: 30px;
  }

  .banner-subtitulo {
    font-size: 12px;
  }

  .banner-desconto {
    font-size: 16px;
  }
}
@media (min-width: 1000px) and (max-width: 1300px) {
  .banner-titulo {
    font-size: 45px;
  }

  .banner-subtitulo {
    font-size: 20px;
  }

  .banner-desconto {
    font-size: 30px;
  }
}

@media (min-width: 1300px) and (max-width: 1600px) {
  .banner-titulo {
    font-size: 65px;
  }

  .banner-subtitulo {
    font-size: 22px;
  }

  .banner-desconto {
    font-size: 45px;
  }
}

/* ==========================================================================
  Banner Destaque Caneca Avanti
========================================================================= */
.banner-caneca {
  align-items: stretch;
}

.banner-caneca-img {
  width: 100%;
}

@media (min-width: 768px) {
  .banner-caneca-img {
    width: 55%;
  }
}

.banner-caneca-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  display: block;
}

.banner-caneca-content {
  width: 100%;
}

@media (min-width: 768px) {
  .banner-caneca-content {
    width: 45%;
  }
}

.banner-caneca-title {
  font-size: 30px;
  font-weight: 700;
  letter-spacing: 2px;
}

@media (max-width: 768px) {
  .banner-caneca-title {
    font-size: 24px;
  }
}

.banner-caneca-text {
  font-size: 18px;
}

@media (max-width: 768px) {
  .banner-caneca-text {
    font-size: 14px;
  }
}

/* ==========================================================================
  Banner Beneficios Caneca Avanti
========================================================================= */

.banner-beneficios-titulo {
  font-size: 28px;
  font-weight: 700;
  color: #4f4f4f;
  letter-spacing: 1px;
  text-align: center;
}

.beneficio-item p {
  font-size: 16px;
  margin: 0;
  color: #4f4f4f;
  max-width: 400px;
}

.icone-pin {
  width: 90px;
  height: auto;
}

/* Mobile adjustments */
@media (max-width: 768px) {
  .banner-beneficios-titulo {
    font-size: 20px;
  }

  .beneficio-item {
    flex-direction: row;
    align-items: flex-start;
    text-align: left;
    justify-content: center;
  }

  .beneficio-item img {
    margin-bottom: 0;
    margin-right: 10px;
  }

  .banner-beneficios-caneca-img img {
    width: 100%;
    max-width: 100%;
    height: auto;
  }

  .banner-beneficios-caneca-text {
    text-align: center;
    padding: 0 1rem;
  }

  .icone-pin {
    width: 60px;
    height: 60px;
  }
}

/* ==========================================================================
  Formulário de cadastro de newsletter
========================================================================= */
.newsletter {
  max-width: 1260px;
  margin: 0 auto;
  text-align: center;
  padding: 20px;
}

.newsletter h2 {
  color: #000;
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 20px;
}

.newsletter h2 a {
  color: #0070f3;
  text-decoration: none;
  font-weight: 700;
  font-size: 20px;
}

.newsletter-form {
  background: #f1f1f1;
  padding: 60px 20px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  align-items: center;
  min-height: 176px;
}

.newsletter-form input[type="text"],
.newsletter-form input[type="email"],
.newsletter-form button {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 5px;
}

.newsletter-form .checkbox {
  display: flex;
  align-items: center;
  gap: 5px;
  font-size: 0.9rem;
  text-align: left;
}

.newsletter-form button {
  background-color: #005cff;
  color: white;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  transition: 0.3s ease;
}

.newsletter-form button:hover {
  background-color: #0045c4;
}

@media (min-width: 939px) {
  .newsletter-form {
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 16px;
    flex-wrap: nowrap;
    padding: 40px;
  }

  .newsletter-form input[type="text"],
  .newsletter-form input[type="email"] {
    width: 280px;
    padding: 10px;
  }

  .newsletter-form .checkbox {
    flex-direction: row;
    margin: 0;
    gap: 6px;
    white-space: nowrap;
  }

  .newsletter-form button {
    padding: 10px 20px;
    width: auto;
  }
}

@media (max-width: 389px) {
  .newsletter h2 {
    font-size: 16px;
  }

  .newsletter-form button {
    font-size: 12px;
    padding: 8px 16px;
  }

  .newsletter-form input[type="text"],
  .newsletter-form input[type="email"] {
    font-size: 12px;
  }

  .newsletter-form .checkbox {
    font-size: 11px;
    white-space: nowrap;
  }
}
